body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f4f8;
}

h1 {
    color: #006400;
}
.lyric-card {
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 15px;
}

.portuguese {
    font-size: 18px;
    margin-bottom: 6px;
}

.english {
    font-size: 15px;
    font-style: italic;
    color: #666666;
}